header{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color:#9692C4;
  color:#000000!important; 
  border-radius:20px;
}

.full {
  position: relative;
  overflow: hidden;
}

.full img {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

footer{
  background-color: rgb(192, 192, 192);
}

#laiks {

  color: #020202;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  
}

.laiks1{
    background-color: #959595;  
    max-width: 200px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    position: fixed;
    bottom: 10px;
    right: 10px;

}